orcid-model/src/main/resources/record_2.0_rc1/person-2.0_rc1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sch="http://purl.oclc.org/dsdl/schematron" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/person" xmlns:person="http://www.orcid.org/ns/person"
	xmlns:common="http://www.orcid.org/ns/common">
	<xs:annotation>
		<xs:documentation>
			=============================================================================

			ORCID (R) Open Source
			http://orcid.org

			Copyright (c) 2012-2014 ORCID,
			Inc.
			Licensed under an MIT-Style License (MIT)
			http://orcid.org/open-source-license

			This copyright and license
			information (including a link to the full
			license)
			shall be included in
			its entirety in all copies or substantial portion of
			the software.

			=============================================================================
			The schema describes the message format used for ORCID API requests
			and responses.
			The top level element is orcid-message.
		</xs:documentation>
		<xs:appinfo>
			<sch:title>Schematron validation</sch:title>
			<sch:ns prefix="orcid" uri="http://www.orcid.org/ns/orcid" />
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://www.orcid.org/ns/common"
		schemaLocation="../common_2.0_rc1/common-2.0_rc1.xsd" />
	<xs:element name="person">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>The biographical details of the researcher or
					contributor.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="personal-details" type="person:personal-details"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="biography" type="person:biography" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="researcher-urls" type="person:researcher-urls"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="contact-details" type="person:contact-details"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="keywords" type="person:keywords" minOccurs="0"
					maxOccurs="1" />
				<xs:element name="external-identifiers" type="person:external-identifiers"
					minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="personal-details">
		<xs:annotation>
			<xs:documentation>Container for the personal details (names) of the
				researcher or contributor.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="given-names" minOccurs="1"
				type="common:non-empty-string">
				<xs:annotation>
					<xs:documentation>The given (first and middle) name(s) of the
						researcher or contributor.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="family-name" minOccurs="0"
				type="common:non-empty-string">
				<xs:annotation>
					<xs:documentation>The family (last) name of the researcher or
						contributor. This element is optional, because some cultures only
						use given names.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credit-name" type="common:credit-name"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The full name of the researcher or contributor as
						it generally appears on their published works. (see element for
						more details.) The visibility attribute (private, limited or
						public) can be set at record creation, and indicates who can see
						this section of information.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="other-names" type="person:other-names"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>(Optional) Container that includes other name(s)
						that the researcher or contributor may be known by. (see element
						for more details.) The visibility attribute (private, limited or
						public) can be set at record creation, and indicates who can see
						this section of information.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="biography">
		<xs:annotation>
			<xs:documentation>Description of the researcher's professional
				career. The visibility attribute (private, limited or public) can be
				set at record creation, and indicates who can see this section of
				information.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="person:bio-text">
				<xs:attribute name="visibility" type="common:visibility" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="bio-text">
		<xs:annotation>
			<xs:documentation>Bio text is a string of max length: 5000
				characters.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5000" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="researcher-urls">
		<xs:annotation>
			<xs:documentation>Container for URLs of the researcher or
				contributor's sites. The visibility attribute (private, limited or
				public) can be set at record creation, and indicates who can see
				this section of information.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="researcher-url"
				type="person:researcher-url" />
		</xs:sequence>
		<xs:attribute name="visibility" type="common:visibility" />
	</xs:complexType>
	<xs:complexType name="researcher-url">
		<xs:annotation>
			<xs:documentation>The display name and URL for one of the researcher
				or contributor's sites.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="url-name"
				type="common:non-empty-string">
				<xs:annotation>
					<xs:documentation>A short display name describing the URL.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="url" type="common:url" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The URL (including http:// or https://).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contact-details">
		<xs:annotation>
			<xs:documentation>Container for the researcher or contributor's
				contact information. Includes email address(es) and country
				(address). While there can be an unlimited number of email
				addresses, only one may be designated as a primary email address.
			</xs:documentation>
			<xs:appinfo>
				<sch:pattern>
					<sch:title>Test of number of primary emails</sch:title>
					<sch:rule context="contact-details">
						<sch:assert
							test="if(count(email) &lt;= 1) then true() else count(email[@primary=true()]) + count(email[not(exists(@primary))]) = 1">Wrong number of primary emails</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="email" type="person:email" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="address" type="common:address"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="email">
		<xs:annotation>
			<xs:documentation>An email address for the researcher or contributor.
				The visibility attribute (private, limited or public) can be set at
				record creation, and indicates who can see this section of
				information.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="common:email">
				<xs:attribute name="visibility" type="common:visibility" />
				<xs:attribute name="primary" type="xs:boolean" default="true">
					<xs:annotation>
						<xs:documentation>Indicates (by a TRUE value) the address that the
							ORCID Registry will used to contact the researcher or contributor
							(based on user contact preferences). The primary attribute is
							assigned as TRUE to exactly one email address.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="current" type="xs:boolean" default="true">
					<xs:annotation>
						<xs:documentation>Indicates if the address is a current one for
							the user. The current attribute is assigned as TRUE to any email
							address currently used. Former addresses also may be associated
							with ORCID records, and should include a current attribute of
							FALSE.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="verified" type="xs:boolean"
					default="false">
					<xs:annotation>
						<xs:documentation>Indicates (with a TRUE value) if the researcher
							or contributor verified the email address by clicking on a link
							sent to the address. This field can not be set when adding an
							email address to an ORCID record.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="source" type="common:orcid-path">
					<xs:annotation>
						<xs:documentation>The ORCID identifier for the individual user (or
							legacy client application) that created the item. Either a source
							or source-client-id will be present. NOTE: value will be replaced
							by source element in future XSD versions.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="source-client-id" type="common:client-path">
					<xs:annotation>
						<xs:documentation>The client ID for the client application (Member
							organization system) that created the item. Either a source or
							source-client-id will be present. NOTE: value will be replaced by
							source element in future XSD versions.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="keywords">
		<xs:annotation>
			<xs:documentation>Container for words or phrases describing areas of
				research for the researcher. The visibility attribute (private,
				limited or public) can be set at record creation, and indicates who
				can see this section of information.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="keyword" type="person:keyword" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="visibility" type="common:visibility" />
	</xs:complexType>
	<xs:complexType mixed="true" name="keyword">
		<xs:annotation>
			<xs:documentation>One instance of a keyword, a word or phrase
				describing areas of research for the researcher.
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>

	<xs:complexType name="external-id-common-name" mixed="true" />

	<xs:complexType name="external-identifiers">
		<xs:annotation>
			<xs:documentation>Container for references to the reasearcher or
				contributor in other systems. The visibility attribute (private,
				limited or public) can be set at record creation, and indicates who
				can see this section of information.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="external-identifier" type="person:external-identifier" />
		</xs:sequence>
		<xs:attribute name="visibility" type="common:visibility" />
	</xs:complexType>
	<xs:complexType name="external-identifier">
		<xs:annotation>
			<xs:documentation>A reference to the reasearcher or contributor in
				other systems. Contains display text
				(&lt;exernal-id-common-name&gt;), the reference number
				(&lt;external-id-reference&gt;), and a URL to the source
				(&lt;external-id-url&gt;).
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="external-id-common-name" type="person:external-id-common-name"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="external-id-reference" type="person:external-id-reference"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="external-id-url" type="person:external-id-url"
				minOccurs="0" maxOccurs="1" />
			<xs:element ref="common:source"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType mixed="true" name="external-id-reference">
		<xs:annotation>
			<xs:documentation>The value for the external ID - an identifier for
				the researcher in another system.
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="external-id-url">
		<xs:annotation>
			<xs:documentation>The URL for the external ID - an identifier for the
				researcher in another system.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI" />
		</xs:simpleContent>
	</xs:complexType>

    <xs:complexType name="other-names">
        <xs:annotation>
            <xs:documentation>Container for past names, or variations of the
                researcher or contributor's name, that may have appeared on their
                published works. This could include variations because of
                transliterations of their names into different alphabets. The
                visibility attribute (private, limited or public) can be set at
                record creation, and indicates who can see this section of
                information.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="otherName"
                type="common:non-empty-string">
                <xs:annotation>
                    <xs:documentation>One alternate name for the individual
                        represented
                        by the ORCID record.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="visibility" type="common:visibility" />
    </xs:complexType>
    <xs:complexType name="scopePaths">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="scopePath" type="person:scopePath" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType mixed="true" name="scopePath">
        <xs:simpleContent>
            <xs:extension base="person:scope-path-type" />
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="scope-path-type">
        <xs:annotation>
            <xs:documentation>See the ORCID Knowledgebase for a complete
                description of ORCID Scopes and related documentation:
                https://members.orcid.org/api/oauth/orcid-scopes.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="/authenticate" />
            <xs:enumeration value="/orcid-bio/read-limited" />
            <xs:enumeration value="/orcid-profile/read-limited" />
            <xs:enumeration value="/orcid-works/read-limited" />
            <xs:enumeration value="/funding/read-limited" />
            <xs:enumeration value="/orcid-patents/read-limited" />
            <xs:enumeration value="/orcid-works/update" />
            <xs:enumeration value="/funding/update" />
            <xs:enumeration value="/orcid-patents/update" />
            <xs:enumeration value="/orcid-bio/external-identifiers/create" />
            <xs:enumeration value="/orcid-bio/update" />
            <xs:enumeration value="/orcid-works/create" />
            <xs:enumeration value="/funding/create" />
            <xs:enumeration value="/orcid-patents/create" />
            <xs:enumeration value="/orcid-profile/create" />
            <xs:enumeration value="/peer-review/read-limited" />
            <xs:enumeration value="/peer-review/create" />
            <xs:enumeration value="/peer-review/update" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
