orcid-model/src/main/resources/notification_3.0_rc1/notification-custom-3.0_rc1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/notification" xmlns:notification="http://www.orcid.org/ns/notification"
	xmlns:common="http://www.orcid.org/ns/common"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:import namespace="http://www.orcid.org/ns/common" schemaLocation="../common_2.1/common-2.1.xsd" />
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../xml.xsd"/>
	<xs:element name="notification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="notification-type">
			        <xs:simpleType>
			            <xs:restriction base="xs:string">
			                <xs:enumeration value="custom"/>
			            </xs:restriction>
			        </xs:simpleType>
			    </xs:element>
				<xs:element name="subject">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:string" name="body-text"/>
				<xs:element type="xs:string" name="body-html"/>
				<xs:element ref="common:created-date" minOccurs="0"/>
				<xs:element ref="common:sent-date"/>
				<xs:element ref="common:read-date" minOccurs="0"/>
				<xs:element ref="common:archived-date" minOccurs="0"/>
				<xs:element ref="common:source" minOccurs="0"/>
			</xs:sequence>
            <xs:attribute name="put-code" type="common:put-code" use="optional" />
            <xs:attribute ref="xml:lang" use="optional" />
		</xs:complexType>
	</xs:element>
</xs:schema>
