orcid-model/src/main/resources/orcid-common-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/orcid" xmlns:orcid="http://www.orcid.org/ns/orcid"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:element name="source">
		<xs:annotation>
			<xs:documentation>The client application (Member organization's system) that created the
				notification via the API (if any). </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="orcid:orcidId" minOccurs="0"/>
					<xs:element ref="orcid:clientId" minOccurs="0"/>
				</xs:choice>
				<xs:element ref="orcid:sourceName" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceName" type="xs:string">
		<xs:annotation>
			<xs:documentation>The name of the client application (Member organization system) that
				created the ORCID Record. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orcidId">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>The identifier of the researcher or contributor in ORCID (the
					ORCID iD). At least one of uri or path must be given. </xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element name="uri" type="orcid:orcidUri"/>
						<xs:element name="path" type="orcid:orcidPath" minOccurs="0"/>
					</xs:sequence>
					<xs:element name="path" type="orcid:orcidPath"/>
				</xs:choice>
				<xs:element ref="orcid:host" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="orcidPath">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{4}-){3,}\d{3}[\dX]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orcidUri">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="http://([^/]*orcid\.org|localhost.*/orcid-web)/(\d{4}-){3,}\d{3}[\dX]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="host" type="xs:string"/>
    <xs:attributeGroup name="putCode">
        <xs:attribute name="putCode" type="xs:integer">
            <xs:annotation>
                <xs:documentation>The local identifier used to retrieve or update the resource</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
	<xs:element name="clientId">
		<xs:annotation>
			<xs:documentation>The identifier of a client app. At least one of uri or path must be given.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uri" type="orcid:clientUri"/>
				<xs:element name="path" type="orcid:clientPath"/>
				<xs:element ref="orcid:host"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="clientPath">
		<xs:restriction base="xs:string">
			<xs:pattern value="APP-[\da-zA-Z]{16}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="clientUri">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="http://([^/]*orcid\.org|localhost.*/orcid-web)/client/APP-[\da-zA-Z]{16}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element type="xs:dateTime" name="createdDate" />
	<xs:element type="xs:dateTime" name="sentDate" />
	<xs:element type="xs:dateTime" name="readDate" />
	<xs:element type="xs:dateTime" name="archivedDate" />
    <xs:element name="externalId">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="orcid:externalIdType"/>
                <xs:element ref="orcid:externalIdValue"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="externalIdType">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="AGR">
                    <xs:annotation>
                        <xs:documentation>Agricola</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ARXIV"/>
                <xs:enumeration value="ASIN"/>
                <xs:enumeration value="ASIN_TLD"/>
                <xs:enumeration value="BIBCODE"/>
                <xs:enumeration value="CBA">
                    <xs:annotation>
                        <xs:documentation>Chinese Biological Abstracts</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CIT">
                    <xs:annotation>
                        <xs:documentation>CiteSeer</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="CTX">
                    <xs:annotation>
                        <xs:documentation>CiteXplore submission</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="DOI"/>
                <xs:enumeration value="EID"/>
                <xs:enumeration value="ETHOS">
                    <xs:annotation>
                        <xs:documentation>EThOS Peristent ID</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="HANDLE"/>
                <xs:enumeration value="HIR">
                    <xs:annotation>
                        <xs:documentation>NHS Evidence</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ISBN"/>
                <xs:enumeration value="ISSN"/>
                <xs:enumeration value="JFM"/>
                <xs:enumeration value="JSTOR"/>
                <xs:enumeration value="LCCN"/>
                <xs:enumeration value="MR"/>
                <xs:enumeration value="OCLC"/>
                <xs:enumeration value="OL"/>
                <xs:enumeration value="OSTI"/>
                <xs:enumeration value="OTHER_ID"/>
                <xs:enumeration value="PAT">
                    <xs:annotation>
                        <xs:documentation>Patent number prefixed with ISO 3611 two letter country code</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="PMC"/>
                <xs:enumeration value="PMID"/>
                <xs:enumeration value="RFC"/>
                <xs:enumeration value="SOURCE_WORK_ID">
                    <xs:annotation>
                        <xs:documentation>Non-standard ID with meaning only in the system from which the work data were sourced</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="SSRN"/>
                <xs:enumeration value="URI"/>
                <xs:enumeration value="URN"/>
                <xs:enumeration value="WOSUID">
                    <xs:annotation>
                        <xs:documentation>Web of Science™ identifier</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="ZBL"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="externalIdValue" type="xs:anyURI"/>
    <xs:attributeGroup name="lang">
        <xs:attribute ref="xml:lang"/>
    </xs:attributeGroup>
</xs:schema>
