orcid-model/src/main/resources/orcid-notification-custom-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/orcid" xmlns:orcid="http://www.orcid.org/ns/orcid"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:include schemaLocation="orcid-common-1.0.xsd"/>
	<xs:element name="notification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orcid:putCode" minOccurs="0"/>
				<xs:element ref="orcid:notificationType"/>
				<xs:element type="xs:string" name="subject"/>
				<xs:element type="xs:string" name="bodyText"/>
				<xs:element type="xs:string" name="bodyHtml"/>
				<xs:element type="xs:dateTime" name="createdDate" minOccurs="0"/>
				<xs:element type="xs:dateTime" name="sentDate"/>
				<xs:element type="xs:dateTime" name="readDate" minOccurs="0"/>
				<xs:element type="xs:dateTime" name="archivedDate" minOccurs="0"/>
				<xs:element ref="orcid:source" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ADD_ACTIVITIES"/>
				<xs:enumeration value="CUSTOM"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
