orcid-model/src/main/resources/orcid-notification-add-activities-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/orcid" xmlns:orcid="http://www.orcid.org/ns/orcid"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:include schemaLocation="orcid-common-1.0.xsd"/>
	<xs:element name="notification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orcid:notificationType"/>
				<xs:element ref="orcid:authorizationUrl"/>
				<xs:element ref="orcid:activities"/>
				<xs:element ref="orcid:createdDate" minOccurs="0"/>
				<xs:element ref="orcid:sentDate" minOccurs="0"/>
				<xs:element ref="orcid:readDate" minOccurs="0"/>
				<xs:element ref="orcid:archivedDate" minOccurs="0"/>
				<xs:element ref="orcid:source" minOccurs="0"/>
			</xs:sequence>
            <xs:attributeGroup ref="orcid:putCode"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ADD_ACTIVITIES"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="authorizationUrl">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uri" type="xs:anyURI"/>
				<xs:element name="path" type="xs:string"/>
				<xs:element name="host" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activities">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="orcid:activity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orcid:activityType"/>
				<xs:element ref="orcid:activityName"/>
				<xs:element minOccurs="0" ref="orcid:externalId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activityType" type="xs:NCName"/>
	<xs:element name="activityName" type="xs:string"/>
	<xs:element name="externalId">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="orcid:externalIdType"/>
				<xs:element ref="orcid:externalIdValue"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="externalIdType" type="xs:NCName"/>
	<xs:element name="externalIdValue" type="xs:anyURI"/>
</xs:schema>
