orcid-model/src/main/resources/notification_2.0_rc1/notification-add-activities-2.0_rc1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/notification" xmlns:notification="http://www.orcid.org/ns/notification"
	xmlns:common="http://www.orcid.org/ns/common"
	xmlns:activities="http://www.orcid.org/ns/activities"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:import namespace="http://www.orcid.org/ns/common" schemaLocation="../common_2.0_rc1/common-2.0_rc1.xsd" />
	<xs:import namespace="http://www.orcid.org/ns/activities" schemaLocation="../record_2.0_rc1/activities-2.0_rc1.xsd" />
	<xs:element name="notification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="notification-type" type="notification:notification-type"/>
				<xs:element name="authorization-url" type="notification:authorization-url"/>
				<xs:element name="activities" type="notification:activities"/>
				<xs:element ref="common:created-date" minOccurs="0"/>
				<xs:element ref="common:sent-date" minOccurs="0"/>
				<xs:element ref="common:read-date" minOccurs="0"/>
				<xs:element ref="common:archived-date" minOccurs="0"/>
				<xs:element ref="common:source" minOccurs="0"/>
			</xs:sequence>
            <xs:attribute name="put-code" type="common:put-code" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="notification-type">
	   <xs:restriction base="xs:string">
			<xs:enumeration value="ADD_ACTIVITIES"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="authorization-url">
			<xs:sequence>
				<xs:element name="uri" type="xs:anyURI"/>
				<xs:element name="path" type="xs:string"/>
				<xs:element name="host" type="xs:string"/>
			</xs:sequence>
	</xs:complexType>
	<xs:complexType name="activities">
		<xs:sequence>
			<xs:element name="activity" type="notification:activity" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="activity">
		<xs:sequence>
			<xs:element name="activity-type" type="notification:activity-type"/>
			<xs:element name="activity-name" type="xs:string"/>
			<xs:element name="external-identifier" type="activities:identifier" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
    <xs:simpleType name="activity-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EDUCATION"></xs:enumeration>
            <xs:enumeration value="EMPLOYMENT"></xs:enumeration>
            <xs:enumeration value="FUNDING"></xs:enumeration>
            <xs:enumeration value="WORK"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
