orcid-model/src/main/resources/notification-2.0_rc1/notification-add-activities-2.0_rc1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/notification" xmlns:notification="http://www.orcid.org/ns/notification"
	xmlns:common="http://www.orcid.org/ns/common"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:import namespace="http://www.orcid.org/ns/common" schemaLocation="orcid-common-1.0.xsd" />
	<xs:element name="notification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="notification:notification-type"/>
				<xs:element ref="notification:authorization-url"/>
				<xs:element ref="notification:activities"/>
				<xs:element ref="common:created-date" minOccurs="0"/>
				<xs:element ref="common:sent-date" minOccurs="0"/>
				<xs:element ref="common:read-date" minOccurs="0"/>
				<xs:element ref="common:archived-date" minOccurs="0"/>
				<xs:element ref="common:source" minOccurs="0"/>
			</xs:sequence>
            <xs:attributeGroup ref="common:put-code"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="notification-type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ADD_ACTIVITIES"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="authorization-url">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uri" type="xs:anyURI"/>
				<xs:element name="path" type="xs:string"/>
				<xs:element name="host" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activities">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="notification:activity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="notification:activity-type"/>
				<xs:element ref="notification:activity-name"/>
				<xs:element minOccurs="0" ref="common:external-id"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="activity-type">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="EDUCATION"></xs:enumeration>
                <xs:enumeration value="EMPLOYMENT"></xs:enumeration>
                <xs:enumeration value="FUNDING"></xs:enumeration>
                <xs:enumeration value="WORK"></xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
	<xs:element name="activity-name" type="xs:string"/>
</xs:schema>
