orcid-model/src/main/resources/1.3_rc1/orcid-message-1.3_rc1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sch="http://purl.oclc.org/dsdl/schematron" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/orcid" xmlns="http://www.orcid.org/ns/orcid"
	xmlns:orcid-internal="http://www.orcid.org/ns/orcid-internal"
	xmlns:orcid-common="http://www.orcid.org/ns/orcid-common"
	xmlns:orcid-work="http://www.orcid.org/ns/orcid-work"
	xmlns:orcid-funding="http://www.orcid.org/ns/orcid-funding"
	xmlns:orcid-affiliation="http://www.orcid.org/ns/orcid-affiliation"
	xmlns:orcid-bio="http://www.orcid.org/ns/orcid-bio">
	<xs:annotation>
		<xs:documentation>
			=============================================================================

			ORCID (R) Open Source
			http://orcid.org

			Copyright (c) 2012-2014 ORCID,
			Inc.
			Licensed under an MIT-Style License (MIT)
			http://orcid.org/open-source-license

			This copyright and license
			information (including a link to the full
			license)
			shall be included in
			its entirety in all copies or substantial portion of
			the software.

			=============================================================================
			The schema describes the message format used for ORCID API requests
			and responses.
			The top level element is orcid-message.
		</xs:documentation>
		<xs:appinfo>
			<sch:title>Schematron validation</sch:title>
			<sch:ns prefix="orcid" uri="http://www.orcid.org/ns/orcid" />
		</xs:appinfo>
	</xs:annotation>
    <xs:import namespace="http://www.orcid.org/ns/orcid-affiliation"
        schemaLocation="orcid-affiliation-1.3_rc1.xsd" />
    <xs:import namespace="http://www.orcid.org/ns/orcid-bio"
        schemaLocation="orcid-bio-1.3_rc1.xsd" />
	<xs:import namespace="http://www.orcid.org/ns/orcid-common"
		schemaLocation="orcid-common-1.3_rc1.xsd" />
	<xs:import namespace="http://www.orcid.org/ns/orcid-funding"
		schemaLocation="orcid-funding-1.3_rc1.xsd" />
	<xs:import namespace="http://www.orcid.org/ns/orcid-internal"
		schemaLocation="orcid-internal-1.3_rc1.xsd" />
	<xs:import namespace="http://www.orcid.org/ns/orcid-work"
		schemaLocation="orcid-work-1.3_rc1.xsd" />
	<xs:element name="orcid-message">
		<xs:annotation>
			<xs:documentation>The overall container for all ORCID requests and
				responses.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message-version" type="message-version" />
				<xs:choice>
					<xs:element name="orcid-profile" type="orcid-profile" />
					<xs:element name="orcid-search-results" type="orcid-search-results" />
					<xs:element name="error-desc" type="error-desc" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="message-version">
		<xs:annotation>
			<xs:documentation>The version of ORCID message schema that the
				orcid-message uses. Please refer to the ORCID XSD Information Readme
				documentation for more details.
				https://github.com/ORCID/ORCID-Source/blob/master/orcid-model/src/main/resources/README.md
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.3_rc1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType mixed="true" name="error-desc">
		<xs:annotation>
			<xs:documentation>A human readable error message included when the
				request was unsuccessful.
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="orcid-profile">
		<xs:annotation>
			<xs:documentation>The container element for a researcher or
				contributor ORCID Record.
				* The type attribute can only be set by
				ORCID, and indicates the type of ORCID Record the information refers
				to. In most cases the value will be "user" to indicate an ORCID iD
				holder.
				* The client type attribute is set by ORCID, and is present
				when the type attribute is "group" or "client". This attribute
				indicates the API privledges held by the group as indicated by their
				ORCID Membership Agreement.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orcid-identifier" type="orcid-common:orcidId"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="orcid-deprecated" type="orcid-deprecated"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="orcid-preferences" type="preferences"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="orcid-history" type="orcidHistory"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="orcid-bio" type="orcid-bio:orcid-bio" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="orcid-activities" type="orcid-activities"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="orcidInternal" type="orcid-internal:orcidInternal" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="type" type="orcid-common:orcidType"
			default="user" />
		<xs:attribute name="client-type" type="client-type" use="optional" />
		<xs:attribute name="group-type" type="group-type" use="optional" />
	</xs:complexType>
	<xs:complexType name="orcid-search-results">
		<xs:annotation>
			<xs:documentation>The container element for the results when
				performing a search on the ORCID Registry. the num-found attribute
				indicates the number of successful matches.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orcid-search-result" type="orcid-search-result"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="num-found" type="xs:integer" default="0" />
	</xs:complexType>
	<xs:complexType name="orcid-search-result">
		<xs:annotation>
			<xs:documentation>A single result when performing a search on the
				ORCID Registry.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="relevancy-score" type="relevancy-score"
				maxOccurs="1" />
			<xs:element name="orcid-profile" type="orcid-profile"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType mixed="true" name="relevancy-score">
		<xs:annotation>
			<xs:documentation>Search relevancy score based on ORCID's search
				scoring model.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:float" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="orcidHistory">
		<xs:annotation>
			<xs:documentation>A simple history of the researcher or contributor's
				ORCID Record. The visibility attribute (private, limited or public)
				can be set at record creation, and indicates who can see this
				section of information.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="creation-method" type="creation-method"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The method used to create the ORCID Record
						* API
						method - Institution created the record on behalf of the
						individual
						* Direct method - Individual registered directly at
						orcid.org
						* Member-referrred method - Individual registered as
						part
						of a workflow such as submitting a manuscript or applying
						for a
						grant
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="completion-date" type="completion-date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="submission-date" type="submission-date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="last-modified-date" type="orcid-common:lastModifiedDate"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="claimed" type="claimed" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="source" type="orcid-common:source"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="deactivation-date" type="deactivation-date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="verified-email" type="xs:boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True if the user has a verified email
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verified-primary-email" type="xs:boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True if the user's current primary email is
						verified
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="visibility" type="orcid-common:visibility" />
	</xs:complexType>
	<xs:complexType name="completion-date">
		<xs:annotation>
			<xs:documentation>The date and time when the ORCID Record set up was
				completed.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="submission-date">
		<xs:annotation>
			<xs:documentation>The date time when the ORCID Record and iD was
				first created.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="claimed">
		<xs:annotation>
			<xs:documentation>True if the researcher or contributor has added a
				password
				to assume ownership of their ORCID Record after bulk
				creation
				by their institution.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:boolean" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="deactivation-date">
		<xs:annotation>
			<xs:documentation>The date and time when the ORCID Record was
				deactivated. (If the account is active, this field will be NULL.)
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType mixed="true" name="source-reference">
		<xs:annotation>
			<xs:documentation>(UNUSED) The identifier or other reference
				information for the researcher or contributor in the source client
				application (Member Organization's) system.
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="source-date">
		<xs:annotation>
			<xs:documentation>The date time that the source client application
				(Member organization system) or individual user created/attempted to
				create the item.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime" />
		</xs:simpleContent>
	</xs:complexType>


	<xs:complexType name="orcid-activities">
		<xs:annotation>
			<xs:documentation>Container for research activities of the researcher
				or contributor, such as Works.
				Please note that the orcid-patents
				element is deprecated and will be
				removed soon
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1"
				ref="orcid-affiliation:affiliations" />
			<xs:element minOccurs="0" maxOccurs="1" ref="orcid-work:works" />
			<xs:element minOccurs="0" maxOccurs="1"
				ref="orcid-funding:fundingList" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="orcid-deprecated">
		<xs:annotation>
			<xs:documentation>Element to contain the deprecation information of
				an ORCID iD and Record. Records are deprecated by researchers or
				contributors when multiple iDs are found that represent the same
				person.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="deprecated-date" type="deprecated-date"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="primary-record" type="primary-record" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deprecated-date">
		<xs:annotation>
			<xs:documentation>The date and time when the ORCID Record was
				deprecated, and now points to a different, primary ORCID Record.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:dateTime" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="primary-record">
		<xs:annotation>
			<xs:documentation>The new primary record for the ORCID iD. One should
				note this new value if the iD being read has been deprecated.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orcid-identifier" type="orcid-common:orcidId" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="preferences">
		<xs:annotation>
			<xs:documentation>Preferences set by the researcher or contributor.
				(currently language preference)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="locale" type="orcid-common:locale" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="client-type">
		<xs:annotation>
			<xs:documentation>Indicates the client type for the API client based
				on the ORCID membership type.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="creator" />
			<xs:enumeration value="premium-creator" />
			<xs:enumeration value="updater" />
			<xs:enumeration value="premium-updater" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="group-type">
		<xs:annotation>
			<xs:documentation>Indicates the group type for the API client based
				on the ORCID membership type.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="basic" />
			<xs:enumeration value="premium" />
			<xs:enumeration value="basic-institution" />
			<xs:enumeration value="premium-institution" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="creation-method">
		<xs:annotation>
			<xs:documentation>Indicates how the ORCID record and iD were created.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="orcid-common:nonEmptyString">
			<xs:enumeration value="API">
				<xs:annotation>
					<xs:documentation>The ORCID Record was created using the ORCID
						Member API.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Direct">
				<xs:annotation>
					<xs:documentation>The user registered on the /register page.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Member-referred">
				<xs:annotation>
					<xs:documentation>The registered on the /oauth/signin.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="website">
				<xs:annotation>
					<xs:documentation>DEPRECATED use Direct or Member-referred
						instead.
						The method used to create the ORCID Record (Website or
						API).
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
