orcid-model/src/main/resources/1.3_rc1/work-1.3_rc1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sch="http://purl.oclc.org/dsdl/schematron" elementFormDefault="qualified"
	targetNamespace="http://www.orcid.org/ns/work" xmlns="http://www.orcid.org/ns/work"
	xmlns:common="http://www.orcid.org/ns/common">
	<xs:annotation>
		<xs:documentation>
			=============================================================================

			ORCID (R) Open Source
			http://orcid.org

			Copyright (c) 2012-2014 ORCID,
			Inc.
			Licensed under an MIT-Style License (MIT)
			http://orcid.org/open-source-license

			This copyright and license
			information (including a link to the full
			license)
			shall be included in
			its entirety in all copies or substantial portion of
			the software.

			=============================================================================
			The schema describes the message format used for ORCID API requests
			and responses.
			The top level element is orcid-message.
		</xs:documentation>
		<xs:appinfo>
			<sch:title>Schematron validation</sch:title>
			<sch:ns prefix="orcid" uri="http://www.orcid.org/ns/orcid" />
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://www.orcid.org/ns/common"
		schemaLocation="common-1.3_rc1.xsd" />

	<xs:element name="work">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>A work published by the researcher or contributor.
					* The visibility attribute (private, limited or public) can be set
					at record creation, and indicates who can see this section of
					information.
					* The put-code attribute is used only when reading this
					element. When updating the item, the put-code attribute must be
					included to indicate the specific record to be updated.
				</xs:documentation>
			</xs:annotation>

			<xs:sequence>
				<xs:element name="title" type="workTitle"
					minOccurs="0" />
				<xs:element name="journalTitle" type="journalTitle"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="shortDescription" type="common:shortDescription"
					minOccurs="0" />
				<xs:element name="citation" minOccurs="0" type="citation">
					<xs:annotation>
						<xs:documentation>Element containing the type and content of the
							citation for this work
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="type" type="workType" />
				<xs:element ref="common:publicationDate" minOccurs="0" />
				<xs:element name="externalIdentifiers" type="citation"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Element containing the type and content of the
							citation for this work
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="url" type="common:url" minOccurs="0" />
				<xs:element name="contributors" type="workContributors"
					minOccurs="0" />
				<xs:element ref="common:source"
					minOccurs="0" />
				<xs:element name="createdDate" type="common:createdDate"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="lastModifiedDate" type="common:lastModifiedDate"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="languageCode" type="common:languageCode"
					minOccurs="0" maxOccurs="1" />
				<xs:element name="country" type="common:country"
					minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="visibility" type="common:visibility" />
			<xs:attribute name="putCode" type="common:putCode"
				use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="workType">
		<xs:annotation>
			<xs:documentation>The types of works accepted accepted by the ORCID
				Registry. Please refer to the CASRAI dictionary for definitions of
				each work type.
				http://dictionary.casrai.org/research-personnel-profile/contributions/outputs
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="artistic-performance" />
			<xs:enumeration value="book-chapter" />
			<xs:enumeration value="book-review" />
			<xs:enumeration value="book" />
			<xs:enumeration value="conference-abstract" />
			<xs:enumeration value="conference-paper" />
			<xs:enumeration value="conference-poster" />
			<xs:enumeration value="data-set" />
			<xs:enumeration value="dictionary-entry" />
			<xs:enumeration value="disclosure" />
			<xs:enumeration value="dissertation" />
			<xs:enumeration value="edited-book" />
			<xs:enumeration value="encyclopedia-entry" />
			<xs:enumeration value="invention" />
			<xs:enumeration value="journal-article" />
			<xs:enumeration value="journal-issue" />
			<xs:enumeration value="lecture-speech" />
			<xs:enumeration value="license" />
			<xs:enumeration value="magazine-article" />
			<xs:enumeration value="manual" />
			<xs:enumeration value="newsletter-article" />
			<xs:enumeration value="newspaper-article" />
			<xs:enumeration value="online-resource" />
			<xs:enumeration value="other" />
			<xs:enumeration value="patent" />
			<xs:enumeration value="registered-copyright" />
			<xs:enumeration value="report" />
			<xs:enumeration value="research-technique" />
			<xs:enumeration value="research-tool" />
			<xs:enumeration value="spin-off-company" />
			<xs:enumeration value="standards-and-policy" />
			<xs:enumeration value="supervised-student-publication" />
			<xs:enumeration value="technical-standard" />
			<xs:enumeration value="test" />
			<xs:enumeration value="translation" />
			<xs:enumeration value="trademark" />
			<xs:enumeration value="website" />
			<xs:enumeration value="working-paper" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="workExternalIdentifiers">
		<xs:annotation>
			<xs:documentation>Container for storing the external references to
				the work.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0"
				name="workExternalIdentifier" type="externalIdentifier" />
		</xs:sequence>
		<xs:attribute name="scope" type="common:scope" use="optional" />
	</xs:complexType>
	<xs:complexType name="externalIdentifier">
		<xs:annotation>
			<xs:documentation>External references to the work.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="externalIdentifierType" type="externalIdentifierType"
				maxOccurs="1" />
			<xs:element name="externalIdentifierId" maxOccurs="1"
				type="common:nonEmptyString">
				<xs:annotation>
					<xs:documentation>Value for the identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="externalIdentifierType">
		<xs:annotation>
			<xs:documentation>The type of work external identifier, e.g DOI, PMID
				etc.
			</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:string">
			<xs:enumeration value="agr">
				<xs:annotation>
					<xs:documentation>Agricola</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="arxiv" />
			<xs:enumeration value="asin" />
			<xs:enumeration value="asin-tld" />
			<xs:enumeration value="bibcode" />
			<xs:enumeration value="cba">
				<xs:annotation>
					<xs:documentation>Chinese Biological Abstracts</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cit">
				<xs:annotation>
					<xs:documentation>CiteSeer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ctx">
				<xs:annotation>
					<xs:documentation>CiteXplore submission</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="doi" />
			<xs:enumeration value="eid" />
			<xs:enumeration value="ethos">
				<xs:annotation>
					<xs:documentation>EThOS Peristent ID</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="handle" />
			<xs:enumeration value="hir">
				<xs:annotation>
					<xs:documentation>NHS Evidence</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="isbn" />
			<xs:enumeration value="issn" />
			<xs:enumeration value="jfm" />
			<xs:enumeration value="jstor" />
			<xs:enumeration value="lccn" />
			<xs:enumeration value="mr" />
			<xs:enumeration value="oclc" />
			<xs:enumeration value="ol" />
			<xs:enumeration value="osti" />
			<xs:enumeration value="other-id" />
			<xs:enumeration value="pat">
				<xs:annotation>
					<xs:documentation>Patent number prefixed with ISO 3611 two letter
						country code
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pmc" />
			<xs:enumeration value="pmid" />
			<xs:enumeration value="rfc" />
			<xs:enumeration value="source-work-id">
				<xs:annotation>
					<xs:documentation>Non-standard ID with meaning only in the system
						from which the work data were sourced
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ssrn" />
			<xs:enumeration value="uri" />
			<xs:enumeration value="urn" />
			<xs:enumeration value="wosuid">
				<xs:annotation>
					<xs:documentation>Web of Science™ identifier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="zbl" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="workContributors">
		<xs:annotation>
			<xs:documentation>Container for the contributors of a Work.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="contributor"
				type="contributor" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contributor">
		<xs:annotation>
			<xs:documentation>A collaborator or other contributor to a work or
				other orcid-activity
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="common:contributorOrcid" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ORCID iD for the contributor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditName" type="common:creditName"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="contributorEmail" type="contributorEmail"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="contributorAttributes" type="contributorAttributes"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contributorEmail">
		<xs:annotation>
			<xs:documentation>Email of the collaborator or other contributor.
				When provided during creation or update, the email address is used
				to look up and add the contributor's ORCID iD.
			</xs:documentation>
		</xs:annotation>

		<xs:simpleContent>
			<xs:extension base="common:email" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="contributorAttributes">
		<xs:annotation>
			<xs:documentation>Provides detail of the nature of the contribution
				by the collaborator or other contirbutor.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contributorSequence" type="contributorSequence"
				minOccurs="0" />
			<xs:element name="contributorRole" type="contributorRole"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="contributorSequence">
		<xs:annotation>
			<xs:documentation>Indication of where in the contributor list the
				collaborator or other contributor's name would appear
			</xs:documentation>
		</xs:annotation>

		<xs:restriction base="xs:string">
			<xs:enumeration value="first" />
			<xs:enumeration value="additional" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="contributorRole">
		<xs:annotation>
			<xs:documentation>The role performed by the collaborator or other
				contributor.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="author" />
			<xs:enumeration value="assignee" />
			<xs:enumeration value="editor" />
			<xs:enumeration value="chair-or-translator" />
			<xs:enumeration value="co-investigator" />
			<xs:enumeration value="co-inventor" />
			<xs:enumeration value="graduate-student" />
			<xs:enumeration value="other-inventor" />
			<xs:enumeration value="principal-investigator" />
			<xs:enumeration value="postdoctoral-researcher" />
			<xs:enumeration value="support-staff" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="workTitle">
		<xs:annotation>
			<xs:documentation>Container for titles of the work.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="common:nonEmptyString">
				<xs:annotation>
					<xs:documentation>The main name or title of the work. For a
						spin-off company, include use the company name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subtitle" type="subtitle" minOccurs="0" />
			<xs:element name="translatedTitle" type="common:translatedTitle"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType mixed="true" name="journalTitle">
		<xs:annotation>
			<xs:documentation>The title of the publication or group under which
				the work was published.
				* If a jounal, include the journal title of
				the work.
				* If a book chapter, use the book title.
				* If a translation
				or a
				manual, use the series title.
				* If a dictionary entry, use the
				dictionary title.
				* If a conference poster, abstract or paper, use
				the conference name.
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>

	<xs:complexType name="subtitle" mixed="true">
		<xs:annotation>
			<xs:documentation>If the work has a subtitle, include it here.
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>

	<xs:complexType name="citation">
		<xs:annotation>
			<xs:documentation>Container for a work citation. Citations may be
				fielded (e.g., RIS, BibTeX - preferred citation type), or may be
				textual (APA, MLA, Chicago, etc.) The required work-citation-type
				element indicates the format of the citation.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="citationType" default="formatted-unspecified"
				type="citationType" maxOccurs="1" minOccurs="1" />
			<xs:element name="citation" type="xs:string" maxOccurs="1"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="citationType">
		<xs:annotation>
			<xs:documentation>(REQUIRED) The type (format) of the citation.
				BibTeX format is recommended. NOTE: the values displayed to the
				website user are localized (translated) in the ORCID Registry web
				interface. For reference:
				https://github.com/ORCID/ORCID-Source/tree/master/orcid-core/src/main/resources/i18n
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="formatted-unspecified" />
			<xs:enumeration value="bibtex" />
			<xs:enumeration value="ris" />
			<xs:enumeration value="formatted-apa" />
			<xs:enumeration value="formatted-harvard" />
			<xs:enumeration value="formatted-ieee" />
			<xs:enumeration value="formatted-mla" />
			<xs:enumeration value="formatted-vancouver" />
			<xs:enumeration value="formatted-chicago" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
